<app-nav></app-nav>
<h3 class="text-danger">
        <span>Please use http full url for app to work</span>
</h3>
<div class="container">
 <form [formGroup]='urlForm' (ngSubmit)='shorten()'>
    <div class="form-group">
     <label for="exampleInputEmail1">URL address</label>
     <input type="text" formControlName='url'>
                  <small id="emailHelp" class="form-text text-muted">Enter the URL to be shortned.</small>
                </div>
                <button type="submit" [disabled]='!urlForm.valid' class="btn btn-primary">Submit</button>
              </form>
              <h4>the new shortend url is <a href="{{originalurl}}">{{url}}</a></h4>


</div>
<div class="container">
        <form [formGroup]='expandForm' (ngSubmit)='redirect()'>
                <div class="form-group">
                 <label for="exampleInputEmail1">URL address</label>
                 <input type="text" formControlName='shorturl'>
                              <small id="emailHelp" class="form-text text-muted">Enter the URL to be expanded.</small>
                            </div>
                            <button type="submit" [disabled]='!expandForm.valid' class="btn btn-primary">Submit</button>
                          </form>
                          <h3>{{redirecturl}}</h3>
</div>